:root {
  --basic-color: #212121;
  --pale-color: #afb1b8;
  --accent-color: #2196f3;
  --main-color: #000000;
  --white-color: #ffffff;
  --paragr-gris-color: #757575;
}
body {
  color: var(--basic-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}
.list {
  list-style: none;
  padding-left: 0px;
}
/*logo*/
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-part {
  color: var(--main-color);
}

/*Navigation*/
.site-nav {
  width: 294px;
  height: 48px;
  left: 453px;
  top: 32px;
  display: flex;
}
.site-nav .nav-item {
  color: var(--basic-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .nav-item:hover,
.site-nav .nav-item:focus {
  color: var(--accent-color);
}
.contact .link {
  color: var(--paragr-gris-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.hero-title {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  position: absolute;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--accent-color);
}
.hero .button:hover,
.hero .button:focus {
  background-color: var(--pale-color);
}
/*section abilities*/
.abilities {
  width: 1170px;
  height: 251px;
  left: 215px;
  top: 774px;
  display: flex;
}
.abilities .abilities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  text-transform: uppercase;
}
.abilities .abilities-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--paragr-gris-color);
}
/*What we do*/
.what-we-do {
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 1213px;
}
.doin {
  display: flex;
}
.doin-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}
.doin .doin-title {
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
/*Our Team*/
.our-team {
  width: 1600px;
  left: 0px;
  top: 1693px;
  background: #f5f4fa;
}
.our-team-title {
  left: 668px;
  top: 1787px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}
.team {
  display: flex;
}
.team-names {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}
.team-profesion {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--paragr-gris-color);
}
.contact-team {
  display: flex;
}
.contact-team-button:hover,
.contact-team-button:focus {
  background-color: var(--accent-color);
}
/*Regular Clients*/
.regular-clients {
  width: 1170px;
  height: 182px;
  left: 215px;
  top: 2489px;
}
.clients-title {
  left: 606px;
  top: 2489px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}
.clients {
  display: flex;
}
.client:hover,
.client:focus {
  background-color: var(--accent-color);
}

.footer {
  width: 1600px;
  height: 253px;
  left: 1px;
  top: 2765px;
  background: #2f303a;
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.st-adress-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.st-adress-link:hover,
.st-adress-link:focus {
  background-color: var(--accent-color);
}
.social-contact {
  display: flex;
}
.connect {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.contact-connect-button:hover,
.contact-connect-button:focus {
  background-color: var(--accent-color);
}
.avtor {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba (255, 255, 255, 0.4);
}
/*portfolio*/
/*Navigation*/
.nav-header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.nav-title-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}
.nav-title-name:hover,
.nav-title-name:focus {
  background-color: var(--accent-color);
}
.work-examples {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.work-examples-card {
  position: relative;
  width: calc((100% - 90px) / 3);
  margin: 15px;
  padding-bottom: 20px;
}
.work-example-imtext {
  text-decoration: none;
}
.work-examples-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.work-example-text {
  position: absolute;
  width: 100%;
  height: 63%;
  top: 0;
  left: 0;
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.work-examples-card:hover .work-example-text,
.work-examples-card:focus .work-example-text {
  display: block;
}
.work-example-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-color);
}
.example-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.work-example-description {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--paragr-gris-color);
}
